# TLA Model Checking
formal/tla/*_TTrace_*.bin
formal/tla/*_TTrace_*.tla
states/

# Outputs
__pycache__/
.tools/
artifacts/packages/
artifacts/perf/
artifacts/release-readiness/
bin/
build/packer/**/output-*/
build/packer/**/packer_cache/
.cache/

# Docusaurus
website/node_modules/
website/.docusaurus/
website/build/
website/playwright-report/
website/test-results/

# UI
ui/.cache/
ui/.vite/
ui/coverage/
ui/dist/
ui/node_modules/
ui/playwright-report/
ui/storybook-static/
ui/test-results/
ui/*.tsbuildinfo

# Generated docs assets embedded into vectis-docs
cmd/docs/embedded/*
!cmd/docs/embedded/
!cmd/docs/embedded/.gitkeep

# Generated UI assets embedded into vectis-ui
cmd/ui/embedded/*
!cmd/ui/embedded/
!cmd/ui/embedded/.gitkeep
